---
import MainLayout from "@/layouts/mainLayout.astro";
import Login from "./login.astro";

console.log('Home Page');


---
<!-- <Login>

</Login> -->
<MainLayout>
	<h1 class="text-3xl">Home Page</h1>

</MainLayout>