---
import MainLayout from "@/layouts/mainLayout.astro";
import Login from "./login.astro";
import { firebase } from "@/firebase/config";

const firebaseUser = firebase.auth.currentUser
console.log("firebase", firebaseUser);


---
<!-- <Login>

</Login> -->
<MainLayout>
	<h1 class="text-3xl">Pagina Protegida</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde illo et sunt expedita ullam sed 
		veniam perferendis nesciunt voluptatum ipsum debitis temporibus, modi libero qui odit rerum accusantium quam sapiente.</p>

</MainLayout>